*{
    margin:0;
    padding 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:400;
}

body {
    width:100vw;
    min-height:100vh;
    background-color: rgb(79, 63, 47);
    background-repeat: no-repeat;
    padding:auto;
    display:grid;
    place-items:center;
}

.firstpage {
    background-color: rgb(216, 208, 208);
    text-align: center;
    border-radius: 25px;
    align-content: center;
    margin: 0;
    color: brown;
    box-shadow: 0 1rem 1rem -0.7rem rgb(0,0,0,0.4);
}

button {
    font-size: medium;
    padding: 10px;
    background-color: blue;
    color: black;
    border-radius: 5px;
    margin-top: 4rem;
    border: none;
    border-width: 6px;
    box-shadow: 0 1rem 1rem -0.7rem rgb(0,0,0,0.4);
}

button:hover {
    background-color: brown;
}

.form {
    padding: 15rem;
}